**/.DS_Store
node_modules
package-lock.json
.env

output/cards/*.json
output/decklists/gemp/*.gemp.txt
output/decklists/txt/*.txt
output/decklists/json/*.json
output/decklists/html/*.html
output/images/*.gif
output/tmp/*
